@import '../../styles/mixins';

.cardContainer{
    @include customFlex(20px, center);
    flex-wrap: wrap;

    .cards{
        flex-basis: 22%;
    }

    @media(max-width: 880px){
        .cards{
            flex-basis: 45%;
        }
    }
}